@model MVC.Models.HeThongPhanPhoi

@{
    ViewData["Title"] = "Chỉnh sửa hệ thống phân phối";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="MaHTPP" class="control-label"></label>
        <input asp-for="MaHTPP" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="TenHTPP" class="control-label"></label>
        <input asp-for="TenHTPP" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Lưu thay đổi" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

