@{
    ViewData["Title"] = "Uploads";
}

<h2>Upload file Excel</h2>

<form asp-action="Uploads" enctype="multipart/form-data" method="post">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red">@Html.ValidationSummary()</div>
}
